useDynLib(MonoPoly, .registration = TRUE, .fixes = ".MP_")

export(monpol)
export(monpol.fit)
export(monpol.control)
export(evalPol)

import(quadprog)

S3method(coef, monpol)
S3method(fitted, monpol)
S3method(formula, monpol)
S3method(logLik, monpol)
S3method(model.matrix, monpol)
S3method(print, monpol)
S3method(predict, monpol)
S3method(residuals, monpol)

importFrom("graphics", "abline", "lines", "plot")
importFrom("stats", ".checkMFClasses", "coef", "convolve", "cor",
           "delete.response", "fitted", "formula", "is.empty.model",
           "lm.fit", "lm.wfit", "model.frame", "model.matrix",
           "model.matrix.default", "model.response", "model.weights",
           "na.omit", "napredict", "naresid", "weighted.mean")
